*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hind Vadodara, Inter;
  scroll-behavior: smooth;
  
}

.header{
  background-color: white;
  min-height: 50hv;
  width: 100%;
  overflow-x: hidden;
}
.subscribe-home{
  display:flex;
  align-items:center;
  min-height:75vh;
  width: 100%;
  background-image: radial-gradient( circle at top left,
    rgba(101, 9, 156, 1)55%,
    rgba(239, 62, 94, 0.8)
  )

 
}
.home .content{
  width: 100%;
  overflow-x: hidden;
}
.home .content h3{

  font-size: 54px;
  color: rgba(254, 254, 254, 1);
  font-family: Hind vadodara;
  line-height: 1.5;
  text-align: center;


}

.home .content p{
  font-size: 20px;
  color: rgba(254, 254, 254, 1);
  font-family: Inter;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  line-height:1.5;
}
.sub{
  margin-left: 38%;
  display: flex;
}